.mobileControls {
  position: relative;

  &_menu {
    position: absolute;
    left: -650%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $white;
    height: 20vh;
    padding: 1rem;
    font-weight: 500;
    box-shadow: 0 0 3.5px rgba($black, .25);
    width: 30vw;
    z-index: 2;
    opacity: 0;
    @include prefix(animation, fadeIn .2s forwards);

    span {
      margin: .5rem 0;
    }

    @include mobileLandscape {
      height: 30vh;
      width: 20vw;
      left: -700%;
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1
  }
}