* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 63.5%;
}

body {
  font-size: 1.6rem;
  font-family: $font-primary;
  background-color: #F9FAFE;
  width: 100%;
  color: #181818;
}

.icon {
  height: 2rem;
  width: 2rem;
  fill: black;
}
